.box{
    width:100vh;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:20% 25% 0px 25%;
    border-radius: 10% 10% 0 0;
    border:3px solid rgba(0,0,0,0.4);
    border-bottom: none;
    background-color: rgb(255, 248, 240);
}